# requirements.txt

# Para o servidor de API e gerenciador de processos
fastapi
uvicorn[standard]
honcho  # <-- NOSSA FERRAMENTA MÁGICA

# Para o gerador de token e o agente
livekit-api~=1.0

# Para o agente de IA
livekit-agents~=1.0
livekit-plugins-openai~=1.0
livekit-plugins-elevenlabs~=1.0
livekit-plugins-silero~=1.0

# Para carregar variáveis de ambiente
python-dotenv